// Shades

$white: #F9F9F9;
$opaque: #EEE;
$light: rgba(0,0,0,0.1);
$heavy: rgba(0,0,0,0.2);
$brighten: #333;
$gray: #ccc;
$red: #BF3E43;
$straw: #F3D745;
$charcoal: #2b2a29;

// Layout Vars

$column: 1000px;
$pad: 20px;

// UX Vars

$trans: 0.3s;

// Text

$fixed-font-size: 14px;
$heading-font: "IM Fell French Canon";
$body-font: "Libre Baskerville";
$ui-font: "Roboto";

// Mixins

@mixin desktop() {
  @media screen and (min-width: $column) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: $column) {
    @content;
  }
}